<h1>
  RCal
</h1>

<h2>
  Appt
</h2>

<h3>
  Make a new one
</h3>

<div class="">
  <%= form_for @appointment do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :appt_time %>
    <%= f.submit "Make appt" %>
  <% end %>
</div>

<div class="">
  <% @appointments.each do |a| %>
    <h3><%= a.title %></h3>
    <p><%= a.appt_time %></p>
  <% end %>
</div>
